Page {
	background-color: white;
	font-size: 17;
}
Image {
	margin: 3;
}
Label {
	/* left, top, right, bottom */
	margin: 20, 0, 0, 0;
	width: 300;
}
TextField {
	margin: 10;
}
Button {
	margin: 10;
    background-color: #EEEEEE;
    color: #3385D6;
}