#id1 {
    color: #669900;
    text-align: center;
}

#title {
    text-align: center;
    font-size: 28;
    color: #527A00;
}

Textfield {
    text-align:center;
}

Button {
    background-color: #EEEEEE;
    color: #3385D6;
}
